html {
    box-sizing: border-box;
}

/* setting border-box as the default for box-sizing for whole project */

header {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 98.39%;
    
    background: #161B22;
}

header p {
    position: absolute;
    left: 4.38%;
    right: 82.85%;
    top: 0.45%;
    bottom: 98.84%;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    
    color: #FFFFFF;
}

nav {
    position: absolute;
    left: 60.69%;
    right: 13.26%;
    top: 0.56%;
    bottom: 98.95%;

    color: #FFFFFF;
}

header button {
    position: absolute;
    left: 89.65%;
    right: 1.81%;
    top: 0.36%;
    bottom: 98.76%;
}

/* header styling */

main {
    color: white;
    position: relative;
    width: 1440px;
    height: 4668px;
    
    background: #0E1117;
}

/* general styling for main section */

.intro {
    position: absolute;
    width: 811px;
    height: 317px;
    left: 315px;
    top: 259px;
}

/* intro styling */

.about {
    position: absolute;
    width: 1092px;
    height: 720px;
    left: 175px;
    top: 914px;
}

.about .number {
    position: absolute;
    width: 34px;
    height: 22.84px;
    left: 175px;
    top: 914px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    color: #5386E4;
}

.aboutTitle {
    position: absolute;
    width: 76px;
    height: 22.84px;
    left: 219px;
    top: 914px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #E7E7E7;
}

.about hr {
    position: absolute;
    width: 944px;
    height: 0px;
    left: 323px;
    top: 930.88px;

    border: 1px solid #5386E4;
}

.aboutContent {
    position: absolute;
    width: 553px;
    height: 453.85px;
    left: 175px;
    top: 973.59px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #949396;
}

.technologies {
    position: absolute;
    width: 553px;
    height: 29.79px;
    left: 175px;
    top: 1446.3px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #949396;
}

.javascript {
    position: absolute;
    width: 126px;
    height: 29.79px;
    left: 175px;
    top: 1518.8px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #949396;
}

.express {
    position: absolute;
    width: 126px;
    height: 29.79px;
    left: 377px;
    top: 1518.8px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #949396;
}

.react {
    position: absolute;
    width: 126px;
    height: 29.79px;
    left: 175px;
    top: 1567.46px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #949396;
}

.rest {
    position: absolute;
    width: 126px;
    height: 29.79px;
    left: 579px;
    top: 1518.8px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #949396;
}

.SQL {
    position: absolute;
    width: 126px;
    height: 29.79px;
    left: 377px;
    top: 1567.46px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #949396;
}

.knex {
    position: absolute;
    width: 126px;
    height: 29.79px;
    left: 579px;
    top: 1567.46px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #949396;
}

.node {
    position: absolute;
    width: 126px;
    height: 29.79px;
    left: 175px;
    top: 1615.13px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #949396;
}

.boots {
    position: absolute;
    width: 126px;
    height: 29.79px;
    left: 377px;
    top: 1615.13px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #949396;
}

.git {
    position: absolute;
    width: 126px;
    height: 29.79px;
    left: 579px;
    top: 1615.13px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #949396;
}

.image {
    position: absolute;
    width: 350px;
    height: 347.59px;
    left: 891px;
    top: 998.41px;

    background: url(86247491.jpg);
    border-radius: 10px;
}

/* about styling */

.projects {
    position: absolute;
    width: 927.19px;
    height: 1571px;
    left: 257px;
    top: 1898px;
}

.projects .number {
    position: absolute;
    width: 38px;
    height: 23px;
    left: 257px;
    top: 1898px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    color: #5386E4;
}

.projectsTitle {
    position: absolute;
    width: 107px;
    height: 23px;
    left: 305px;
    top: 1898px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #E7E7E7;
}

.projects hr {
    position: absolute;
    width: 744.19px;
    height: 0px;
    left: 440px;
    top: 1916px;

    border: 1px solid #5386E4;
}

.featureOne {
    position: absolute;
    width: 927px;
    height: 302px;
    left: 257px;
    top: 1971px;
}

.featureProjectOne {
    position: absolute;
    width: 182px;
    height: 19px;
    left: 1002px;
    top: 1971px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #5386E4;
}

.featureOneTitle {
    position: absolute;
    width: 182px;
    height: 23px;
    left: 1002px;
    top: 1994px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #E7E7E7;
}

.featureOneTools {
    position: absolute;
    width: 335px;
    height: 34px;
    left: 849px;
    top: 2199px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: right;

    color: #949396;
}

.featureTwo {
    position: absolute;
    width: 927px;
    height: 302px;
    left: 257px;
    top: 2462px;
}

.featuredProjectTwo {
    position: absolute;
    width: 182px;
    height: 19px;
    left: 257px;
    top: 2462px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #5386E4;
}

.featureThree {
    position: absolute;
    width: 927px;
    height: 302px;
    left: 257px;
    top: 2953px;
}

.featuredProjectThree {
    position: absolute;
    width: 182px;
    height: 19px;
    left: 1002px;
    top: 2953px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #5386E4;
}

/* projects styling */

footer {
    position: absolute;
    width: 1440px;
    height: 169px;
    left: 0px;
    top: 4499px;
    
    background: #161B22;
}

.connect {
    position: absolute;
    width: 146px;
    height: 85px;
    left: 205px;
    top: 4532px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    
    color: #E7E7E7;
}

.credit {
    position: absolute;
    width: 412px;
    height: 18px;
    left: 514px;
    top: 4636px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    
    color: #E7E7E7;
}

.email {
    position: absolute;
    width: 138px;
    height: 18px;
    left: 1098px;
    top: 4589px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    
    color: #E7E7E7;
}

footer hr {
    position: absolute;
    width: 667px;
    height: 0px;
    left: 391px;
    top: 4600px;
    
    border: 1px solid #5386E4;
}

/* footer styling */