html {
    box-sizing: border-box;
}

/* setting border-box as the default for box-sizing for whole project */

header {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 98.39%;
    width: 1440px;
    height: 75px;
    
    background: #161B22;
}

header p {
    position: absolute;
    left: 4.38%;
    right: 82.85%;
    top: 0.45%;
    bottom: 98.84%;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    
    color: #FFFFFF;
}

nav {
    position: absolute;
    left: 60.69%;
    right: 13.26%;
    top: 0.56%;
    bottom: 98.95%;

    color: #FFFFFF;
}

header button {
    position: absolute;
    left: 89.65%;
    right: 1.81%;
    top: 0.36%;
    bottom: 98.76%;
}

/* header styling */

main {
    color: white;
    
    background: #0E1117;
}

/* general styling for main section */

.container {
    position: absolute;
    width: 811px;
    height: 317px;
    left: 315px;
    top: 259px;
}

footer {
    text-align: center;
    background: #f1aaae;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    padding: 0px;
}

/* general styling for header and footer section */